.is-dark-mode {
  --cardGray: #252b43;
  --baseBackground: #1d2029;
  --baseColor: white;
  --gray: #8088ad;
  --lightGray: #1d2029;
  --cardTitle: #8088ad;
  --switchSpinner: #282943;
  --switch: linear-gradient(to right, #4796d2 0%, #37ce8f 100%);
}

.is-light-mode {
  --gray: #5f616d;
  --cardGray: #f0f3fa;
  --lightGray: #f8f9fe;
  --cardTitle: #6f717e;
  --baseBackground: white;
  --baseColor: #1d2029;
  --switchSpinner: white;
  --switch: #5f616d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --cardGray: #252b43;
    --baseBackground: #1d2029;
    --baseColor: white;
    --gray: #8088ad;
    --lightGray: #1d2029;
    --cardTitle: #8088ad;
    --switchSpinner: #282943;
    --switch: linear-gradient(to right, #4796d2 0%, #37ce8f 100%);
  }
}