







.card-small {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1em;
  background: var(--cardGray);
  border-radius: 8px;
  padding: 1.7em;
}
.card-small p {
  margin: 0;
}

.card-small-views {
  /* border: 1px solid green; */
  color: var(--cardTitle);
  font-weight: bold;
  font-size: .9em;
}

.card-small-icon {
  /* border: 1px solid orange; */
  text-align: right;
}

.card-small-number {
  /* border: 1px solid purple; */
  font-weight: bold;
  font-size: 2.5em;
  line-height: .9;
}

.card-small-percentage {
  /* border: 1px solid rgb(38, 0, 255); */
  text-align: right;
  display: flex;
  align-items: flex-end;
  color: var(--lime-green);
  justify-content: flex-end;
  font-size: .8em;
  font-weight: bold;
}
.card-small-percentage.is-danger {
  color: var(--bright-red);
}
.card-small-percentage span {
  display: flex;
  align-items: center;
}
.card-small-percentage img {
  margin-right: 5px;
}


@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .header-total {
    border: none;
  }
  .header-grid {
    display: grid;
    grid-template-columns: 1fr 200px;
  }
}

.is-dark-mode {
  --cardGray: #252b43;
  --baseBackground: #1d2029;
  --baseColor: white;
  --gray: #8088ad;
  --lightGray: #1d2029;
  --cardTitle: #8088ad;
  --switchSpinner: #282943;
  --switch: linear-gradient(to right, #4796d2 0%, #37ce8f 100%);
}

.is-light-mode {
  --gray: #5f616d;
  --cardGray: #f0f3fa;
  --lightGray: #f8f9fe;
  --cardTitle: #6f717e;
  --baseBackground: white;
  --baseColor: #1d2029;
  --switchSpinner: white;
  --switch: #5f616d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --cardGray: #252b43;
    --baseBackground: #1d2029;
    --baseColor: white;
    --gray: #8088ad;
    --lightGray: #1d2029;
    --cardTitle: #8088ad;
    --switchSpinner: #282943;
    --switch: linear-gradient(to right, #4796d2 0%, #37ce8f 100%);
  }
}