body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: var(--baseColor);
    background: var(--baseBackground);
    /* border: 1px solid red; */
}
:root {
    --lime-green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);
    --facebook: #168ef4;
    --twitter: hsl(203, 89%, 53%);
    --instagram-1: hsl(37, 97%, 70%);
    --instagram-2: hsl(329, 70%, 58%);
    --youTube: hsl(348, 97%, 39%);
    --gray: #5f616d;
    --cardGray: #f0f3fa;
    --lightGray: #f8f9fe;
    --cardTitle: #6f717e;
    --baseBackground: white;
    --baseColor: #1d2029;
    --switchSpinner: white;
    --switch: #5f616d;
}

.wrapper {
    padding: 0 30px;
}

.grid {
    display: grid;
    grid-row-gap: 25px;
}

h1 {
    margin: 0;
    font-size: 1.7em;
    }

h2 {
    color: var(--gray)
    }

@media screen and (min-width: 480px) {
    .grid {
        /* border: 1px solid purple; */
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 25px;
    }
    .wrapper {
        max-width: 1440px;
        margin: auto;
    }
    }
    
    @media screen and (min-width: 768px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    }

